{extend name='admin@public/content'}

{block name="button"}

<!--{if auth("$classuri/add")}-->
<button data-open='{:url("$classuri/add")}' data-title="添加服务器" class='layui-btn layui-btn-sm layui-btn-info'>添加服务器</button>
<!--{/if}-->

<!--{if auth("$classuri/del")}-->
<button data-update="" data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-sm layui-btn-danger'>删除服务器</button>
<!--{/if}-->

{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">服务器名称</label>
        <div class="layui-input-inline">
            <input name="name" value="{$Think.get.name}" placeholder="请输入服务器名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">服务器类型</label>
        <div class="layui-input-inline">
            <select class="form-control" name="type">
                <option value="">-请选择-</option>
                <option value="1" {if $Think.get.type eq 1}selected{/if}>阿里云</option>
                <option value="2" {if $Think.get.type eq 2}selected{/if}>腾讯云</option>
                <option value="3" {if $Think.get.type eq 3}selected{/if}>华为云</option>
                <option value="4" {if $Think.get.type eq 4}selected{/if}>百度云</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">服务器状态</label>
        <div class="layui-input-inline">
            <select class="form-control" name="status">
                <option value="">-请选择-</option>
                <option value="0" {if $Think.get.status eq 0 and $Think.get.status neq ''}selected{/if}>已禁用</option>
                <option value="1" {if $Think.get.status eq 1}selected{/if}>使用中</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">添加时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id="create_at" value="{$Think.get.create_at}" placeholder="请选择添加时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>

<script>
    window.laydate.render({range: true, elem: '#create_at'});
    window.form.render();
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="none" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='list-table-sort-td'>
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-xs">排 序</button>
            </th>
            <th class='text-left nowrap'>服务器</th>
            <th class='text-left nowrap'>公网IP</th>
            <th class='text-left nowrap'>内网IP</th>
            <th class='text-left nowrap'>类型</th>
            <th class='text-left nowrap'>状态</th>
            <th class='text-left nowrap'>添加时间</th>
            <th class='text-left'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='list-table-sort-td'>
                <input name="_{$vo.id}" value="{$vo.sort}" class="list-sort-input"/>
            </td>
            <td class='text-left nowrap'>{$vo.name}</td>
            <td class='text-left nowrap'>{$vo.ip}</td>
            <td class='text-left nowrap'>{$vo.inner_ip}</td>
            <td class='text-left nowrap'>
            {if $vo.type eq 1}阿里云{elseif $vo.type eq 2}腾讯云{elseif $vo.type eq 3}华为云{elseif $vo.type eq 4}百度云{elseif $vo.type eq 5}未知{/if}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status eq 0}<span class="color-red">已禁用</span>{elseif $vo.status eq 1}<span class="color-green">使用中</span>{/if}
            </td>
            <td class='text-left nowrap'>{$vo.create_at|format_datetime}</td>
            <td class='text-left nowrap'>

                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑服务器" data-open='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}

                {if $vo.status eq 1 and auth("$classuri/forbid")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'>禁用</a>
                {elseif auth("$classuri/resume")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'>启用</a>
                {/if}

                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    {/if}
</form>
{/block}